.posts {
  overflow: auto;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0; 
  background: transparent; 
}
.post-button {
text-align: end;
  margin-bottom: 10px;
  &__delete {
    border-radius: 0;
    outline: none;
    background-color: rgb(153, 101, 66);
    border: 0;
    height: 30px;
    color: white;
    &:hover {
      background-color: rgb(189, 134, 98);
    }
  }
}
